@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background: #1f2125;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1f2125;
}
::-webkit-scrollbar-thumb {
  background: #272f33;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 61, 66);
}

.card:hover .card__element {
  border: #2ca4ab;
  background-color: #2ca4ab;
}
.card:hover .onBlue-p {
  color: #2ca4ab;
}
.card:hover .card__element p {
  color: black;
}

.card__element {
  width: calc(2.5 * 1rem);
  height: calc(2.5 * 1rem);
  padding: 17px;
}
